<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">

<script th:src="@{/js/respond.min.js}"></script>
<script th:src="@{/js/jquery-1.11.0.min.js}"></script>
<script th:src="@{/js/bootstrap.min.js}"></script>
<script th:src="@{/js/jquery.cookie.js}"></script>
<script th:src="@{/js/waypoints.min.js}"></script>
<script th:src="@{/js/modernizr.js}"></script>
<script th:src="@{/js/bootstrap-hover-dropdown.js}"></script>
<script th:src="@{/js/owl.carousel.min.js}"></script>
<script th:src="@{/js/front.js}"></script>

