<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">


<link th:href='@{http://fonts.googleapis.com/css?family=Roboto:400,500,700,300,100}' rel='stylesheet' type='text/css'>

<!-- styles -->
<link th:href="@{/css/font-awesome.css}" rel="stylesheet" type="text/css"></link>
<link th:href="@{/css/bootstrap.min.css}" rel="stylesheet" type="text/css"></link>
<link th:href="@{/css/animate.min.css}" rel="stylesheet" type="text/css"></link>
<link th:href="@{/css/owl.carousel.css}" rel="stylesheet" type="text/css"></link>
<link th:href="@{/css/owl.theme.css}" rel="stylesheet" type="text/css"></link>

<!-- theme stylesheet -->
<link th:href="@{/css/style.default.css}" rel="stylesheet" id="theme-stylesheet" type="text/css"></link>

<!-- your stylesheet with modifications -->
<link th:href="@{/css/custom.css}" rel="stylesheet" type="text/css"></link>
